$green: #00de61;
$blue: #44A4FF;

@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    src: url(../GraphikFont/Graphik-Medium.otf) format('truetype');
}

@font-face {
    font-family: 'Graphik-light';
    font-style: normal;
    font-weight: 300;
    src: url(../GraphikFont/Graphik-Regular.otf) format('truetype');
}

body {
  font-family: 'Graphik';
}

.wrapper-wide {
  max-width: 1400px;
  margin: 0 2rem;
}

nav {
  padding-top: 2rem;
  position: fixed;
  z-index: 110;
  top: 0;
  #logo {
    width: 90%;
  }
}

.main-content {
  .top {
    background-position-x: right;
    background-position-y: top;
    background-size: auto 100vh;
    #line {
      right: 5px;
      height: 3285px;
      border-width: 2px;
      width: 2000px;
      -webkit-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: skew(-20deg,0deg);
      transform: skew(-20deg,0deg);
      pointer-events: none;
      position: absolute;
      background-color: white;
      border-right: 2px solid $green;
    }
    #top-inner {
      background-image: url('../img/shoes.jpg');
      background-position-x: 44%;
      background-position-y: top;
      background-size: cover;
      margin-bottom: 8rem;

      min-height: 100vh;
    	overflow: hidden;
      .content {
        height: 100vh;
        z-index: 0;
        max-height: 800px;
        max-width: 100em;
        padding: 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
        .content-inner-top {
          position: relative;
          margin-top: 4.5rem;
          #photo {
            background-image: url('../img/profile.jpg');
            background-position: center;
            background-size: cover;
            margin-top: 1.6rem;
            float: right;
            right: -10px;
            position: absolute;
            height: 60px;
            width: 60px;
            z-index: 999;
          	border: 2px solid white;
          	border-radius: 50%;
          }
          .shipping-title {
            max-width: 80%;
            font-size: 2rem;
            text-align: left;
            display: inline-block;
          }
          .content-inner-main {
            margin-top: .3rem;
            p {
              margin: 0;
              line-height: 22px;
            }
            .shipping-text-blue {
              color: $blue;
              margin-bottom: .6rem;
              font-size: .8rem;
            }
            .light {
              font-family: 'Graphik-light';
            }
          }
        }
      }
    }
  }
}
.main-content{
  .top {
    #line {

    }

  }
}
