@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  src: url(../GraphikFont/Graphik-Medium.otf) format("truetype"); }
@font-face {
  font-family: 'Graphik-light';
  font-style: normal;
  font-weight: 300;
  src: url(../GraphikFont/Graphik-Regular.otf) format("truetype"); }
body {
  font-family: 'Graphik'; }

.wrapper-wide {
  max-width: 1400px;
  margin: 0 30px; }

nav {
  padding-top: 34px;
  position: absolute;
  z-index: 110;
  top: 0;
  left: 34px; }
  nav #logo img {
    width: 81px; }

.main-content .top #line {
  right: 5px;
  height: 3285px;
  border-width: 2px;
  width: 2000px;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
  pointer-events: none;
  position: absolute;
  background-color: white;
  border-right: 2px solid #00DD61; }
.main-content .top #top-inner {
  background-image: url("../img/shoes.jpg");
  background-position-x: 64%;
  background-position-y: 40%;
  background-size: initial;
  margin-bottom: 8rem;
  overflow: hidden; }
  .main-content .top #top-inner .content {
    height: 100vh;
    z-index: 0;
    max-height: 800px;
    max-width: 100em;
    padding: 0;
    display: block;
    width: 100%;
    box-sizing: border-box; }
    .main-content .top #top-inner .content .content-inner {
      position: relative;
      margin-top: 4.5rem; }
      .main-content .top #top-inner .content .content-inner #photo {
        background-image: url("../img/profile.jpg");
        background-position: center;
        background-size: cover;
        margin-top: 1.6rem;
        float: right;
        right: -7px;
        position: absolute;
        height: 64px;
        width: 64px;
        z-index: 999;
        border: 2px solid white;
        border-radius: 50%; }
      .main-content .top #top-inner .content .content-inner .shipping-title {
        max-width: 80%;
        font-size: 2rem;
        text-align: left;
        display: inline-block; }
      .main-content .top #top-inner .content .content-inner .content-inner-top {
        margin-top: .3rem; }
        .main-content .top #top-inner .content .content-inner .content-inner-top p {
          margin: 0;
          line-height: 22px; }
        .main-content .top #top-inner .content .content-inner .content-inner-top .shipping-text-blue {
          color: #44A4FF;
          margin-bottom: .4rem;
          font-size: .8rem; }
        .main-content .top #top-inner .content .content-inner .content-inner-top .light {
          font-family: 'Graphik-light'; }
      .main-content .top #top-inner .content .content-inner .content-inner-btm {
        padding: 30px 0;
        min-height: 170px;
        max-width: 340px;
        margin-top: 40px;
        background-color: #00DD61;
        box-shadow: 14px 16px 10px 0px rgba(0, 0, 0, 0.12); }
        .main-content .top #top-inner .content .content-inner .content-inner-btm h3 {
          width: 85%;
          color: white;
          margin: 0;
          font-size: 21px;
          line-height: 28px; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm #app-store img {
          margin-top: 1.4rem; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm #text-link {
          display: none; }

#phone-get-app-form {
  display: none; }
  #phone-get-app-form input[type="text"] {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    background: #00DD61;
    font-size: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    margin-top: 12px;
    box-sizing: border-box; }
  #phone-get-app-form input:focus {
    outline: none; }
  #phone-get-app-form ::-webkit-input-placeholder {
    color: #00c456;
    font-size: 24px; }
  #phone-get-app-form :-moz-placeholder {
    /* Firefox 18- */
    color: #00c456; }
  #phone-get-app-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #00c456; }
  #phone-get-app-form :-ms-input-placeholder {
    color: #00c456; }

@media screen and (min-width: 1024px) {
  nav {
    padding-top: 0;
    position: absolute;
    z-index: 110;
    top: 50px;
    left: 40px; }
    nav #logo img {
      width: 92px; }

  .main-content .top #line {
    right: 355px;
    border-right: 2px solid #00DD61; }
  .main-content .top #top-inner {
    background-position-x: 50px;
    background-position-y: 40%;
    background-size: cover; }
    .main-content .top #top-inner .content .content-inner {
      margin-top: 5.5rem; }
      .main-content .top #top-inner .content .content-inner #photo {
        right: 310px;
        top: -90px;
        height: 80px;
        width: 80px; }
      .main-content .top #top-inner .content .content-inner .shipping-title {
        max-width: 46%;
        font-size: 44px;
        line-height: 52px;
        margin-bottom: 10px; }
      .main-content .top #top-inner .content .content-inner .content-inner-top .shipping-text-blue {
        font-size: 13px;
        color: #44A4FF;
        line-height: 16px; }
      .main-content .top #top-inner .content .content-inner .content-inner-top p {
        font-size: 16px;
        line-height: 20px; }
      .main-content .top #top-inner .content .content-inner .content-inner-btm {
        max-width: 500px; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm h3 {
          width: 100%;
          font-size: 27px;
          line-height: 32px; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm #phone-get-app-form {
          display: block; }
          .main-content .top #top-inner .content .content-inner .content-inner-btm #phone-get-app-form .phone-number-white {
            font-size: 13px;
            color: white;
            line-height: 16px;
            margin: 25px auto 0; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm #app-store {
          display: none; }
        .main-content .top #top-inner .content .content-inner .content-inner-btm #text-link {
          display: block;
          margin-top: 18px; } }
